*{
    /*outline: 1px solid red;*/
    font-family: Arial, Helvetica, sans-serif;
}

.header,.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    max-width: 1200px;
}

.bg{
    background-color: #1F2937;
}

a{
    color: #F9FAF8;
    padding: 8px;
    padding-left: 25px;    
}

.headerContainer{
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
background-color: #1F2937;
}

.logoItem{
    font-size: 48px;
    font-weight: bolder;
    padding: 10px;
}
.navItem{
    display: flex;  
    margin-left: auto;
}

.navLink{
    display: flex;
    
}

.hero{
    color: #F9FAF8;
    background-color: #1F2937;
    display:flex;
    align-items: center;
}

.leftHero{
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 45%;
    margin-left: auto;
    
}

.rightHero{
    flex-basis: 50%;
    padding: 25px;

}

.imgHero{
    height: auto;
    width: 300px;
}

.heroText{
    font-size: 40px;
    margin-bottom: 3px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quoteText{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 1000px;
    
}

.author{
    display: flex;
    width: 1000px;
}

.leftA{
    margin-left: auto;
    padding-right: 150px;
    font-size: 30px;
    font-weight: bold;
}

.callToAction{
    background-color: #3882F6;
    max-width: 100px;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    color:#1F2937;
    padding: 25px;
    
}

.dailyPick{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.pick{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 15px;
}

.team{
    max-width: 100px;
    outline: 3px solid #3882F6;
    border-radius: 15px;

}

.actionContainer{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 50px;
}

.callToActionSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3882F6;
    width: 750px;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    padding: 20px;
}

.divLeft{

}

.divRight{
    
}


.footer{
    text-align: center;
    padding: 25px;
}